ClientApplication/Connected Services/ServiceReference1/ItIWfc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/ItIWfc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ItiWfcSelfHosted" />
  <xs:element name="getBranchsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBranchsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ItiWfcSelfHosted" minOccurs="0" name="getBranchsDataResult" nillable="true" type="q1:BranchData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ItiWfcSelfHosted" minOccurs="0" name="getStudentsDataResult" nillable="true" type="q2:StudentData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInstructorsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInstructorsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ItiWfcSelfHosted" minOccurs="0" name="getInstructorsDataResult" nillable="true" type="q3:InstructorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>